@media (max-width: 1249.98px) {
    .theme-toggle-btn button {
        right: 0;
    }

    .single-post-right {
        max-width: 800px;
    }
}

@media (max-width: 1099.98px) {
    body {
        padding-top: 0;
    }

    .hero-banner-area {
        padding-top: 150px;
    }

    .form-follow h1 {
        font-size: 120px;
        line-height: 110px;
        max-width: 720px;
        width: 100%;
        margin: 0 auto;
    }

    .form-svg-position {
        top: -3px;
    }

    .form-svg-position svg {
        width: 700px;
        height: auto;
    }

    .welcome-text h5 {
        font-size: 40px;
        line-height: 50px;
    }

    .hyper-personalization h3 {
        font-size: 40px;
        line-height: 40px;
        max-width: 430px;
    }

    .welcome-text p {
        font-size: 22px;
        line-height: 30px;
    }

    .banner-big-text p {
        font-size: 28px;
        line-height: 34px;
    }

    .form-follow-list-area p {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 50px;
    }

    .section-heading h2 {
        font-size: 120px;
        line-height: 110px;
    }

    .single-post-right {
        max-width: 500px;
    }

    .trust-bottom-post {
        margin-top: 100px;
    }

    .two-post-wrapper {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 60px;
    }

    .trust-blob-area {
        height: 300px;
    }

    .banner-bottom-area {
        position: relative;
        z-index: 50;
    }

    .multiple-blob {
        width: 418px;
        height: 618px;
    }

    .inner-blob {
        width: 262.09px;
        height: 619px;
    }

    .trust-top-post {
        position: relative;
        z-index: 50;
    }

    #page-header {
        height: 100px;
    }

    .is-sticky #page-header {
        height: 60px;
    }

    .active-theme .single-post-right {
        max-width: 600px;
    }
}

@media (max-width: 780.98px) {
    .hero-banner-area {
        padding-top: 80px;
    }
}

@media (max-width: 767.98px) {
    .form-follow h1 {
        font-size: 70px;
        line-height: 70px;
        max-width: 400px;
    }

    .form-svg-position svg {
        width: 380px;
        top: -6px;
    }

    .form-follow h1 .form-follow-text {
        padding-left: 75px;
        padding-top: 14px;
    }

    .welcome-text h5 {
        font-size: 34px;
        line-height: 40px;
    }

    .welcome-text p {
        font-size: 18px;
        line-height: 24px;
    }

    .hyper-personalization h3 {
        font-size: 34px;
        line-height: 40px;
        max-width: 350px;
    }

    .banner-big-text p {
        font-size: 24px;
        line-height: 30px;
    }

    .banner-small-left {
        display: none;
    }

    .form-follow-list-area p {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .section-heading {
        padding: 40px 0;
    }

    .section-heading h2 {
        font-size: 70px;
        line-height: 80px;
    }

    .calm-bolb {
        width: 418px;
        height: 618px;
    }

    .svg-icon {
        display: none;
    }

    .single-post-right {
        max-width: 100%;
    }

    .single-post-image {
        width: 100%;
        height: 384px;
    }

    .post-container {
        padding-left: var(--section-padding-x);
        padding-right: var(--section-padding-x);
    }

    .two-post-wrapper {
        margin-top: 40px;
    }

    .two-post-wrapper {
        grid-gap: 40px;
    }

    .two-post-left .post-title {
        text-align: left;
    }

    .trust-bottom-post {
        margin-top: 40px;
    }

    .banner-left-blob {
        left: 50px;
        width: 300px;
        height: 600px;
    }

    .multiple-blob {
        width: 318px;
        height: 518px;
    }

    .banner-inner-blob {
        top: 208px;
        left: -70px;
    }

    .inner-blob {
        width: 200px;
        height: 519px;
    }

    .active-theme .single-post-right {
        max-width: 100%;
    }

    .active-theme .two-post-right {
        max-width: 100%;
    }
}

@media (max-width: 579.98px) {
    .form-follow h1 {
        font-size: 44px;
        line-height: 44px;
        max-width: 300px;
        letter-spacing: 1px;
    }

    .form-svg-position svg {
        width: 280px;
        top: -6px;
        left: 0;
    }

    .form-follow h1 .form-follow-text {
        padding-left: 55px;
    }

    .welcome-text h5 {
        font-size: 30px;
        line-height: 40px;
    }

    .welcome-text p {
        padding-right: 26px;
    }

    .hyper-personalization h3 {
        font-size: 30px;
        line-height: 30px;
        max-width: 320px;
    }

    .theme-toggle-btn button {
        bottom: -60px;
    }

    .hero-banner-text {
        padding: 100px 0;
    }

    .two-post-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .single-post-image {
        width: 100%;
        height: 260px;
    }

    .banner-big-text svg {
        width: 150px;
    }

    .banner-big-text {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .hero-banner-area {
        padding-bottom: 60px;
    }

    .banner-small-text {
        padding-bottom: 60px;
    }

    .form-follow-list-area {
        padding: 60px 0;
    }

    .form-follow-wrapper {
        padding: 60px 0;
    }

    .calm-follow-area {
        padding: 60px 0;
    }

    .section-heading h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .single-post-wrapper {
        margin-top: 60px;
    }

    .trust-follow-area {
        padding: 60px 0;
    }

    .bottom-border-line {
        margin-top: 40px;
    }

    .trust-bottom-post {
        margin-top: 0;
    }

    #footer-tombstone {
        padding-top: 40px;
    }
}
